@import url('https://fonts.googleapis.com/css?family=Nunito')
$break: 768px
$blue: steelblue
$gray1: #e3e3e3
$gray2: #d5d5d5
$gray3: #eee
$p: #999

body
    font-family: 'Nunito', sans-serif

.navbar
    background-color: $gray1
    padding: 0
    border: none

.navbar-nav 
    display: inline-block
    text-align: center
    li 
        // float: none
        display: inline-block
        a 
            color: $p
    li:hover a
        border-bottom: 3px solid $blue
    .active a
        color: $blue
        border-bottom: 3px solid $blue

.navbar-light 
    text-align: center

.navbar-brand 
    height: 53px
    padding-top: 5px
    border-left: 30px solid $gray2
    border-right: 1px solid $gray2
    text-align: center
    color: bbb

.icon-bar
    background: $blue

.main
    display: flex
    justify-content: center
    padding: 20px
    .project
        width: 275px
        background: $gray3
        border: 2px solid $blue
        margin: 10px
        h3 
            display: block
            color: white
            background: $blue
            padding: 10px
            margin: 0 0 40px 0
        p 
            color: $p
            margin-bottom: 30px
            padding: 10px
        .btn 
            bottom: 20px
            width: 100px
            padding: 10px
            float: left
            background: white
            color: $blue
            border: 2px solid $blue
            margin: 0 10px 20px 20px
            text-transform: uppercase
            font-weight: bold           
            text-decoration: none
        .btn:hover 
            background: $blue
            color: white




